<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\LissBinder.App.Console\packages.config" />
  <repository path="..\src\LissBinder.Web.Api.Tests\packages.config" />
  <repository path="..\src\LissBinder.Web.Api\packages.config" />
  <repository path="..\src\LissBinder.Web.Common\packages.config" />
</repositories>